@import "tailwindcss";
:root {
  --pastel-pink: #ff9eb5;
  --pastel-blue: #8cb9e8;
  --pastel-purple: #ba8eba;
  --pastel-green: #9ed99e;
  --pastel-yellow: #fdfd66;
}
@layer base {
  body {
    @apply overflow-x-hidden text-white;
  }
}
.theme-toggle {
  transition: all 0.3s ease;
}
.theme-toggle:hover {
  transform: rotate(30deg);
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}
.floating {
  animation: float 3s ease-in-out infinite;
}
.floating-delay-1 {
  animation-delay: 0.5s;
}
.floating-delay-2 {
  animation-delay: 1s;
}
